body {
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter:  blur(5px);
}

.title_main {
    font-size: 270%;
    text-align: center;
    color: rgb(33,37,41);
}

.desks {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    margin: 1%;
}

.desk {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin: 1%;
    border-radius: 3%;
    background-color: rgb(163, 163, 163);
    opacity: 70%;
    transition: all 0.2s ease-in-out 0.5s;
    text-decoration: none;
    color: black;
    height: inherit;
}

.hr_ {
    border: 1px solid black;
    transition: border 0.1s ease 0.5s;
    opacity: 100%;
}

.desk:hover {
    transform: scale(1.035);
    background-color: rgb(130, 130, 130);
    color: black;
}

.desks>.desk:hover>.hr_ {
    border: 2px solid rgb(7, 119, 184, 1);
}

.title_desk {
    font-size: 220%;
    text-align: center;
    text-decoration: none;
}

.text_desk {
    margin: 1%;
    text-align: center;
}

.dmain {
    text-align: center;
}

.svg_ {
    align-self: flex-start;
    display: inline-block;
    width: 10%;
    margin: 0.6%;
}

.icons {

}

.nodec {
    text-decoration: none;
    cursor: default;
    color: rgb(33,37,41);
}

.nodec:hover {
    color: rgb(33,37,41);
}